sudo: false
language: python
python:
  - 2.7
  - 3.5
  - 3.6
matrix:
  include: # Required for Python 3.7+
    - python: 3.7
      dist: xenial
    - python: 3.8
      dist: xenial
install:
  - pip install poetry
  - poetry install -vvv
script:
  - python -m httprunner.cli hrun -V
  - python -m httprunner.cli hrun -h
  - poetry build
  - poetry run coverage run --source=httprunner -m unittest discover
after_success:
  - poetry run coveralls