[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
jinja2 = "*"
har2case = "*"
colorama = "*"
colorlog = "*"
requests-toolbelt = "*"

[dev-packages]
Flask = "<1.0.0"
coverage = "*"
coveralls = "*"
twine = "*"
contextlib2 = "*"

[scripts]
