@import 'https://media.readthedocs.org/css/sphinx_rtd_theme.css';

.wy-nav-content {
    max-width: 1020px
}

.rst-content .topic {
    border: silver 1px solid;
    margin: 10px auto;
    padding: 10px;
}

.rst-content .highlight>pre {
    line-height: 1.5;
}
